In [ ]:
for i in range(3):
  for j in range(i+1):
    print("raksha",end=" ")
  print("\n")

raksha

raksha raksha

raksha raksha raksha

In [ ]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,4,4,5]),{'k':'raksha',"k2":"lnb",3:6,7:8},["lnb","datascience"]]

In [ ]:
for i in l:
  if type(i)==list:
    print(i)

[1, 2, 3, 4]
['lnb', 'datascience']

In [ ]:
for i in l:
  if type(i)==dict:
    print(i)

{'k': 'raksha', 'k2': 'lnb', 3: 6, 7: 8}

In [ ]:
for i in l:
  if type(i)==tuple:
    print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [ ]:
for i in l[0:len(l)-1]:
  if type(i)==list or type(i)==tuple or type(i)==set:
    print(i)
for j in l[4]:
  if type(j)==int:
    print(j,l[4][j])

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
3 6
7 8

In [ ]:
for i in l:
  if type(i)==list or type(i)==tuple or type(i)==set:
    for j in i:
      if type(j)==int:
        if j%2!=0:
          print(j)
  if type(i)==dict:
    for p in l[4]:
      if type(p)==int:
        if p%2!=0:
          print(p)

1
3
3
5
3
5
7
45
5
23
3
7

In [ ]:
for i in l:
  if type(i)==dict:
    for j in l[4]:
      if j=="k2":
        print(l[4][j])

lnb

In [ ]:
for i in l[4]:
  print(i)

k
k2
3
7

In [ ]:
for i in l:
  if type(i)==list:
    for j in i:
      if type(j)==str:
        print(j)
  if type(i)==dict:
    for p in l[4]:
      if type(p)==str:
        print(p)
      if type(l[4][p])==str:
        print(l[4][p])

k
raksha
k2
lnb
lnb
datascience

In [ ]:
l1=l[0]
l2=l[5]
for i in l2:
  l1.append(i)
print(l1)

[1, 2, 3, 4, 'lnb', 'datascience']

In [ ]:
for i in l[4]:
  print(i,l[4][i])

k raksha
k2 lnb
3 6
7 8